
<div class="col-md-6 col-md-offset-3">

	<form role="form" ng-submit="registerForm()">
		<div class="form-group">
			<label for="registerEmail">Email address</label>
			<input type="email" class="form-control" id="registerEmail" placeholder="Enter email" ng-model="registerEmail">
		</div>
		<div class="form-group">
			<label for="registerName">Name</label>
			<input type="text" class="form-control" id="registerName" placeholder="Choose a name" ng-model="registerName">
		</div>		
		<div class="form-group">
			<label for="registerPassword">Password</label>
			<input type="password" class="form-control" id="registerPassword" placeholder="Password" ng-model="registerPassword">
		</div>
		<button type="submit" class="btn btn-default">Register</button>

	</form>

</div>

